<!--restaurant/templates/restaurant/confirmation.html-->
{% extends "./base.html" %}

{% block content %}
<h3>An order has been placed for {{name}}!</h3>
<br>
<p>Special Instructions: {{instructions}}</p>
<p>When your order is ready, we will contact you at {{phone}} and {{email}}</p>
<p>The estimated time for your food is {{expected}}</p>
<p>Thank you for your order!</p>
<br>
<u>Recipt</u>
<br>
<ul>
    {% for item in ordered %}
        <li>{{ item }}</li>
    {% endfor %}
    <li>
        Total: ${{total_cost}}
    </li>
</ul>
{% endblock content %}