<!--restaurant/templates/restaurant/main.html-->
{% extends "./base.html" %}

{% block content %}
    <h3>Willkommen to the BrandonHaus!</h3>
    <p>We are a local German style restaurant located in the garage of Warren Towers (700 Commonwealth)</p>
    <br>
    <img src="/media/restaurant1.jpg" width="400px">
    <br>
    <table>
        <tr>
            <th>Day</th>
            <th>Hours</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>12:00 - 20:00</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>12:00 - 20:00</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>12:00 - 20:00</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>12:00 - 23:00</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>10:00 - 23:00</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>10:00 - 23:00</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>10:00 - 23:00</td>
        </tr>
    </table>
{% endblock content %}