<!-- templates/base.html -->
<!-- blog/templates/blog/base.html -->
{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'quotes.css' %}">
    </head>
    <body>
        <header>
            <h1>Blog</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_articles' %}">Show All</a></li>
                    <li><a href="{% url 'random' %}">Random</a></li>
                    <li><a href="/blog/article/1">Article 1</a></li>
                    <li><a href="/blog/article/2">Article 2</a></li>
                    <li><a href="/blog/article/3">Article 3</a></li>
                    <li><a href="{% url 'create_article' %}">Create Article </a></li>
                </ul>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>