<!-- mini_fb/templates/mini_fb/create_profile_form.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>Add a Profile</h2>

<form method = 'POST'>
{% csrf_token %}
    <table>
        <!--Follows the same form implementation as lecture-->
        {% for field in form %}
            <tr>
                <th>{{field.name}}</th>
                <td>{{field}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type='submit' name = 'Add Profile!' value= 'Add Profile!'>
             </td>
        </tr>
    </table>
</form>
{% endblock %}