<!-- mini_fb/templates/mini_fb/create_status_form.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h2>Add a Status Message</h2>

<form method = 'POST' enctype="multipart/form-data">
{% csrf_token %}
    <table>
        <!--Follows the same form implementation as lecture-->
        {% for field in form %}
            <tr>
                <th>{{field.name}}</th>
                <td>{{field}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="file" name = "files" multiple />
            </td>
            <td>
                <input type='submit' name = 'Add Message!' value= 'Add Message!'>
             </td>
        </tr>
    </table>
</form>
{% endblock %}