<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<div>
    <table>
        <!--Display of a profiles name-->
        <tr>
            <td>
                <h1>{{profile.firstName}} {{profile.lastName}}</h1>
            </td>
        </tr>
        <!--Display of a profiles image-->
        <tr>
            <td style="border: none">
                {% if profile.profileImageURL %}
                    <img 
                        src="{{profile.profileImageURL}}" 
                        alt="{{profile.profileImageURL}}" 
                        style="width:400px"
                    >
                {% endif %}
            </td>
        </tr>
        <!--Display of a profiles city of origin-->
        <tr>
            <td style="border: none">
                From: {{profile.city}}
            </td>
        </tr>
        <!--Display of a profiles email-->
        <tr>
            <td style="border: none">
                Email: {{profile.email}}
            </td>
        </tr>
    </table>
</div>
<div>
    <a href="{% url 'create_status' profile.pk %}">Add Status Message!</a>
    <h2> Status Messages for {{profile.firstName}} {{profile.lastName}}:</h2>
    <table>
        <!--Display a list of all StatusMessages for this profile-->
        {% for m in profile.get_statusMessages %}
            <tr>
                <td style="border: none">
                    {{m.timestamp}}
                </td>
                <td style="border: none">
                    {{m.message}}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}