<!-- mini_fb/templates/mini_fb/update_status_form.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}
<h2>Update a Status Message</h2>
<form method = 'POST' enctype="multipart/form-data">
<!-- talk about CSRF -->
{% csrf_token %}
<!-- customized table version here -->
{% csrf_token %}
    <table>
    {% for field in form %}
    <tr>
        <th>{{field.name}}</th>
        <td>{{field}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td>
            <input type='submit' name = 'update_status' value= 'Update Status Message!'>
        </form>
        <form action="{% url 'show_all' %}">
            <input type='submit' name = 'cancel' value= 'Cancel Update'>
        </form>
        </td>
    </tr>
    </table>
{% endblock %}