<!--pages/templates/home.html-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/quotes.css">
        <title>About | Quote</title>
    </head>
    <body>
        <header>
            <h1>About</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/hw/templates/hw/">Hello World</a>
                </li>
                <li>
                    <a href="/quotes/templates/quotes/">Quotes</a>
                </li>

            </ul>
        </nav>
        <main>
        </main>
    </body>
</html>