<!--pages/templates/home.html-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/quotes.css" />
        <title>About | Quote</title>
    </head>
    <body>
        <header>
            <h1>About</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="./quotes">Quotes</a>
                </li>
                <li>
                    <a href="./restaurant">Restaurant</a>
                </li>
                <li>
                    <a href="./mini_fb">Mini Facebook</a>
                </li>

            </ul>
        </nav>
        <main>
        </main>
    </body>
</html>