<!--quotes/templates/quotes/about.html-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/quotes.css">
        <title>About | Quote</title>
    </head>
    <body>
        <header>
            <h1>About</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/quotes">Base</a>
                </li>
                <li>
                    <a href="/quotes/quote">Random Quote</a>
                </li>
                <li>
                    <a href="/quotes/show_all">Show All</a>
                </li>
                <li>
                    <a href="/quotes/about">About</a>
                </li>
            </ul>
        </nav>
        <main>
            <p>
                All information on my person is from <a href="https://en.wikipedia.org/wiki/Albert_Camus">Wikipedia</a>
            </p>
            <p>
                Albert Camus was born on November 7th 1913 in Mondovi, French Algeria. <br>
                He died at only the age of 46 on January 4th 1960 in Villeblevin, France. <br>
                He is known for being one of the best philosophers of the existentialist/absurdist movements. <br>
                He won the 1957 Nobel Prize in Literature, becoming the second youngest to do so. <br>
                Notable works of his include "The Stranger", "The Plauge", "The Myth of Sisyphus", "The Fall", and "The Rebel" <br>
            </p>
        </main>
    </body>
</html>