<!--quotes/templates/quotes/show_all.html-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/quotes.css">
        <title>ShowAll | Quote</title>
    </head>
    <body>
        <header>
            <h1>Show All</h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="http://127.0.0.1:8000/quotes">Base</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/quotes/quote">Random Quote</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/quotes/show_all">Show All</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/quotes/about">About</a>
                </li>
            </ul>
        </nav>
        <main>
            <ul>
                {% for img in images %}
                <li>
                    <img src="{{img}}" alt="Picture of Camus">
                </li>
                {% endfor %}

                {% for q in quotes %}
                <li>
                    <p>{{q}}</p>
                </li>
                {% endfor %}
            </ul>
        </main>
    </body>

</html>